<!DOCTYPE <html>
<html>

<head>
  <title>Project 3 - About</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <div class="container">
      <a href="/" class="logo">Project 3</a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about" class="current">About</a></li>
        </ul>
      </nav>
      <div class="github">
        <a href="https://github.com/0932710/P3" target="_blank"><img src="http://i.imgur.com/JLKdNtK.png" class="invert"></a>
      </div>
    </div>
  </header>
  <div class="map">
    <div class="container">
      <h1>About</h1>
      <p>Dit project is tot stand gekomen door het door school verkregen onderwerp Opendata met de bij behorende vraagstuk of wij drie vragen kunnen beantwoorden aan de hand van twee datasets of meer.
         Op deze website hebben een map aangeroepen en aan de hand van 2 datasets de data doormiddel van heatmaps laten zien.
         Het door ons gekozen onderwerp is roofovervallen in de buurt van politie bureaus.

      </p>
    </div>
  </div>
  <footer>
    <p>Project 3 - Groep 1</p>
  </footer>
</body>

</html>
