<!DOCTYPE <html>
<html>

<head>
  <title>Project 3 - Home</title>
  <link rel="stylesheet" href="./static/leaflet/leaflet.css" />
  <link rel="stylesheet" href="./static/plot/plot.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <div class="container">
      <a href="/" class="logo">Project 3</a>
      <nav>
        <ul>
          <li><a href="/" class="current">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
      <div class="github">
        <a href="https://github.com/0932710/P3" target="_blank"><img src="http://i.imgur.com/JLKdNtK.png" class="invert"></a>
      </div>
    </div>
  </header>
  <div class="map">
    <div class="container">
      <h1>Map</h1>
      <div id="map" style="width:100%; height: 540px; border: 1px solid #AAA;"></div>
    </div>
  </div>
    <div class="container">
      <div class="plot" id="plot1">
        <h1>Plot 1 - Straatroven per maand</h1>
      </div>
    </div>
    <div class="container">
      <div class="plot" id="plot2">
        <h1>Plot 2 - Straatroven per afstand (m) tot het dichtstbijzijnde politiebureau</h1>
      </div>
    </div>
  <footer>
    <p>Project 3 - Groep 1</p>
  </footer>
  <script src="./static/leaflet/leaflet.js"></script>
  <script src="./static/leaflet/heatmap.js"></script>
  <script src="./static/leaflet/leaflet-heatmap.js"></script>
  <script src="./static/main.js"></script>
  <script type="text/javascript"> main_map({{ map_roofdata | tojson | safe }}, {{ map_politiedata | tojson | safe }})</script>
  
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="./static/plot/plot.js"></script>
  <script type="text/javascript"> plot("#plot1", {{ plot1_json | tojson | safe }})</script>
  <script type="text/javascript"> plot("#plot2", {{ plot2_json | tojson | safe }})</script>
  

</body>

</html>